@font-face {
	font-family: 'Inter';
	src: url('assets/fonts/Inter-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('assets/fonts/Inter-Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Fira Code';
	src: url('assets/fonts/FiraCode-VariableFont_wght.ttf');
}

:root {
	--font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--monospace: "Fira Code", Inconsolata, "SFMono-Regular", "Consolas", "Menlo", monospace;
	--background: #0D1017;
	--bright: #FFF;
	--text: #FEFEFE;
	--dull: #666666;
	--dullish: #999999;
	--border: #999;
	--border-dark: #3d4045;
	--highlight: rgba(255, 255, 255, .05);
	--highlight-hard: rgba(255, 255, 255, .1);
	--accent: #F1C40F;
	--error: #D95757;
	--shade: rgba(0, 0, 0, .5);
	--ansi-black: #0D1017;
	--ansi-red: #D95757;
	--ansi-green: #AAD94C;
	--ansi-yellow: #FFB454;
	--ansi-blue: #59C2FF;
	--ansi-purple: #D2A6FF;
	--ansi-cyan:  #95E6CB;
	--ansi-white:  #FEFEFE;
}

* {
	scrollbar-width: thin;
	scrollbar-color: dark;
}
::selection {
	background: rgba(255,255,255, 0.25);
}
::-moz-selection {
	background: rgba(255,255,255, 0.25);
}

html, body {
	height: 100vh;
	width: 100vw;
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow: hidden;
}
body {
	background: var(--background);
	color: var(--text);
	font-family: var(--font);
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
}
